body {
    background-color: #DCB87A; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

header {
    display:flex;
    background-color:#F4EAAF;
    color: #DCB87A;
}

div {
    background-image:url("narrative.jpg");
    height: 360px;
}

.container {
    width:640px;
    margin: auto;
}